*

!/.gitignore
!/.name

!/codeStyles/
!/codeStyles/**
!/inspectionProfiles/
!/inspectionProfiles/**
!/runConfigurations/
!/runConfigurations/**

!/codeInsightSettings.xml
!/compiler.xml
!/kotlinc.xml
!/ktlint-plugin.xml
!/misc.xml
!/sqldialects.xml
!/vcs.xml
